body { margin: 0; }

img{
	width: 99%;
	height: auto;
}

#processing{
	width: 35%;
}

#asd{
	width: 100%;
	height: auto;
}

.guriya{
  display: grid;
  margin: 0 auto;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 20% 34% 39%;
  grid-gap: 10px;
}

.encabezado {
  grid-column: 2/4;
  grid-row: 1;
  background-color: rgba(230,230,230,.7);
}

.img{
	grid-row: 2;
}

.Youtube {
  grid-column: 1/3;
  /*grid-row: 2;*/
}

.Git {
  grid-column: 3/5;
  /*grid-row: 2;*/
}

.imgProc {
	grid-column: 2/4;
	grid-row: 3;
}